@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
/* @import "compass/css3"; */

@font-face {
  font-family: "typewriter";
  src: url("./resources/type_writer.ttf") format("truetype");
}

body {
  font-family: "Press Start 2P";
}

a {
  color: rgb(66, 112, 57);
}

a:hover {
  color: rgb(129, 177, 119);
}

/* body {
  background: #111;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
} */

#switch {
  display: none;
}

.switch-label {
  position: absolute;
  cursor: pointer;
  background: rgb(133, 133, 133);
  color: #111;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px #666;
}
.switch-label::after {
  content: "on";
}
.switch-label::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #003321;
  margin-right: 10px;
  border: 1px solid #111;
}
.switch-label:active {
  box-shadow: none;
  transform: translate3d(0, 2px, 0);
}

#switch:checked + .switch-label::before {
  background: #22ff55;
}
#switch:checked + .switch-label::after {
  content: "off";
}

@keyframes flicker {
  0% {
    opacity: 0.54904;
  }
  5% {
    opacity: 0.40024;
  }
  10% {
    opacity: 0.25094;
  }
  15% {
    opacity: 0.74307;
  }
  20% {
    opacity: 0.70061;
  }
  25% {
    opacity: 0.61268;
  }
  30% {
    opacity: 0.88173;
  }
  35% {
    opacity: 0.95328;
  }
  40% {
    opacity: 0.00993;
  }
  45% {
    opacity: 0.54517;
  }
  50% {
    opacity: 0.5388;
  }
  55% {
    opacity: 0.01505;
  }
  60% {
    opacity: 0.7875;
  }
  65% {
    opacity: 0.07538;
  }
  70% {
    opacity: 0.45277;
  }
  75% {
    opacity: 0.51654;
  }
  80% {
    opacity: 0.87722;
  }
  85% {
    opacity: 0.45371;
  }
  90% {
    opacity: 0.32161;
  }
  95% {
    opacity: 0.05197;
  }
  100% {
    opacity: 0.248;
  }
}
.container {
  background: rgba(104, 117, 67, 0.11);
  width: 1000px;
  height: 780px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 8px double #666;
  padding-left: 0;
  padding-right: 0;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(102, 112, 63, 0.103);
  opacity: 0;
  z-index: 500000;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(53, 59, 27, 0.192),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 500000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#switch:checked ~ .container::after {
  animation: flicker 0.15s infinite;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}

#switch ~ .container > .screen {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

#switch:checked ~ .container > .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #00ff00;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
}

#switch:checked ~ .container .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

.ingredient {
  min-width: 200px;
  height: 80px;
  background: white;
  margin: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

/* .ingredient p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    border: 1px solid grey;
  } */

.ingredient:hover {
  border: 5px dashed rgb(129, 177, 119);
  cursor: pointer;
}
@keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
.ingredient.highlight {
  border: 5px solid transparent; /*rgba(0,200,0,.5);*/
  background: linear-gradient(rgb(209, 255, 209), rgb(209, 255, 209))
      padding-box,
    repeating-linear-gradient(
        -45deg,
        rgb(25, 133, 34) 0,
        rgb(25, 133, 34) 25%,
        transparent 0,
        transparent 50%
      )
      0 / 0.8em 0.8em;
  animation: ants 12s linear infinite;

  max-width: 20em;
}

.robot {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 200px;
  /* height: 220px; */
  margin-top: -150px; /* Half the height */
  margin-left: -100px; /* Half the width */
  transition: all 0.5s steps(5);
}
.robot.spin {
  transform: rotateY(180deg);
}

.left {
  border: 5px dashed grey;
}

.right {
  border: 5px dashed grey;
}

.boxes {
  margin-top: 50px;
}

h2 {
  padding-top: 80px;
}

.make-smaller {
  max-width: 50px;
}

.meal-image {
  display: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 200px;
  width: 400px;
  border: 5px double rgb(192, 192, 192);
}

.modal-content {
  box-shadow: 0 0 0 5px rgb(192, 192, 192), 0 0 0 10px white,
    0 0 0 15px rgb(192, 192, 192);
  border: none;
}

.modal-title {
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dubious {
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

h6 {
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#splashscreen {
  position: absolute;
  z-index: 2;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  background-color: white;
}

#splashscreen h2 {
  margin-bottom: 50px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#splashscreen a {
  display: none;
}

.blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#splashscreen p {
  line-height: 28px;
  font-size: 14px;
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
}

.series h3 {
  margin: 20px;
}

.series h6 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 50px;
  font-family: "typewriter";
  margin-left: 50px;
  margin-right: 50px;
}

#gameOverOne {
  position: absolute;
  display: none;
  color: white;
  top: 0;
  left: 0;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  background-color: black;
  transition: all 2s steps(8);
  display: block;
}

.gameOverOneText {
  padding-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#gameOverTwo {
  position: absolute;
  display: none;
  color: black;
  top: 0;
  left: 0;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  background-color: white;
  transition: all 2s steps(8);
  display: block;
}

.gameOverTwoText{
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.hidden {
  display: none;
  opacity: 0;
  z-index: -500;
}

.island img {
  -moz-box-shadow: inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow: inset 0 0 50px #000000;
  height: 70%;
  margin-bottom: 20px;
}

.sf {
  max-width: 60%;
  margin: 0 auto;
}

#scores {
  text-align: justify;
  margin-left: 35%;
  margin-top: 15px;
}

.btn-primary {
  background-color: rgb(66, 112, 57);
  border-color: rgb(66, 112, 57);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: rgb(129, 177, 119) !important;
  border-color: rgb(66, 112, 57) !important;
  box-shadow: 0 0 0 0.2rem rgba(212, 255, 156, 0.425) !important;
}
