@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body{
  font-family: 'Press Start 2P';
}

.ingredient {
    min-width: 200px;
    height: 80px;
    background: white;
    margin: 10px;
  }

  /* .ingredient p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    border: 1px solid grey;
  } */

  .ingredient:hover {
    border: 5px dashed rgba(0,0,255,.4);
  }
  @keyframes ants { to { background-position: 100% 100% } }
  .ingredient.highlight {
    border: 5px solid transparent; /*rgba(0,200,0,.5);*/
    background: linear-gradient(rgb(209, 255, 209), rgb(209, 255, 209)) padding-box,
	            repeating-linear-gradient(-45deg, rgb(12, 168, 25) 0, rgb(12, 168, 25) 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 12s linear infinite;
	
	max-width: 20em;
  }



  
  .robot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    /* height: 220px; */
    margin-top: -150px; /* Half the height */
    margin-left: -100px; /* Half the width */
 }

 .left {
     border: 5px dashed grey;
 }

 .right {
     border: 5px dashed grey;
 }

 .boxes{
     margin-top: 50px;
 }

 h2 {
     padding-top: 80px;
 }


 