@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body{
  font-family: 'Press Start 2P';
}


.ingredient {
    min-width: 200px;
    height: 80px;
    background: white;
    margin: 10px;
    display: flex;
    align-items: center;
  }

  /* .ingredient p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    border: 1px solid grey;
  } */

  .ingredient:hover {
    border: 5px dashed rgba(0,0,255,.4);
  }
  @keyframes ants { to { background-position: 100% 100% } }
  .ingredient.highlight {
    border: 5px solid transparent; /*rgba(0,200,0,.5);*/
    background: linear-gradient(rgb(209, 255, 209), rgb(209, 255, 209)) padding-box,
	            repeating-linear-gradient(-45deg, rgb(25, 133, 34) 0, rgb(25, 133, 34) 25%, transparent 0, transparent 50%) 0 / .8em .8em;
	animation: ants 12s linear infinite;
	
	max-width: 20em;
  }



  
  .robot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    /* height: 220px; */
    margin-top: -150px; /* Half the height */
    margin-left: -100px; /* Half the width */
    transition: all .5s;
 }
 .robot.spin{
  transform: rotateY(180deg);
 }

 .left {
     border: 5px dashed grey;
 }

 .right {
     border: 5px dashed grey;
 }

 .boxes{
     margin-top: 50px;
 }

 h2 {
     padding-top: 80px;
 }

.make-smaller{
  max-width: 50px;
}

.meal-image{
  display: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 200px;
  width: 400px;
  border: 1px solid red;
}

.dubious{
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

h6 {
  font-size: 12px;
  text-align: center;
}

#splashscreen {
  position:absolute;
  z-index: 50;
  min-width:100%;
  text-align: center;
  /*padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px; */
  /* padding-top: 100px; */
  min-height: 100%;
  background-color:white;
}

#splashscreen h2{
  margin-bottom: 80px;
}

.splashtext {
  line-height: 32px;
}